<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'foodAllergy:regist' %}" method="post">
{% csrf_token %}
    <input type="text" name="allergyName" id="allergyName"></input>
    <input type="text" name="highLevelAllergy" id="highLevelAllergy"></input>

<input type="submit" value="알러지등록">

{% if Allergy_list %}
    <ul>
        {% for Allergy in Allergy_list %}
            {% if Allergy.level == 1 %}
                <li><a href="{% url 'foodAllergy:showLv2' Allergy.allergyName %}">{{ Allergy.allergyName }}</a></li><br>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>알러지가 없습니다.</p>
{% endif %}
</form>
    <br><br>


<form action="{% url 'foodAllergy:addMyAllergy' %}" method="post">
{% csrf_token %}
{% if allergyName %}
    <ul>
        {% for Allergy in Allergy_list %}
            {% if Allergy.highLevelAllergy == allergyName.allergyName %}
                <label><input type="checkbox" name="checkAllergy[]" value={{Allergy.allergyName}} > {{ Allergy.allergyName }} </label>
                <br>
            {% endif %}
        {% endfor %}
        <input type="submit" value="알러지 추가">
    </ul>
{% else %}
    <p>하위레벨이 없습니다</p>
{% endif %}


내 알러지 Lv1<br><br>
    {% for allergy in Allergy_list %}
        {% if allergy.myAllergy == "Y" and allergy.level == 1 %}
            {{ allergy.allergyName }}<br>


                {% for allergy2 in Allergy_list %}
                    {% if allergy2.myAllergy == "Y" and allergy2.highLevelAllergy == allergy.allergyName %}
                        {% if allergy2.level == 2 %}
                            {{ allergy2.allergyName }}<br>
                        {% endif %}
                    {% endif %}
                {% endfor %}

        <br>
        {% endif %}
    {% endfor %}
<br><br><br>

</form>
</body>
</html>
