<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'foodAllergy:regist' %}" method="post">
{% csrf_token %}
    <input type="text" name="allergyName" id="allergyName"></input>
    <input type="text" name="highLevelAllergy" id="highLevelAllergy"></input>

<input type="submit" value="알러지등록">

{% if Allergy_list %}
    <ul>
        {% for Allergy in Allergy_list %}
            {% if Allergy.level == 1 %}
                <li><a href="{% url 'foodAllergy:showLv2' Allergy.allergyName %}">{{ Allergy.allergyName }}</a></li><br>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>알러지가 없습니다.</p>
{% endif %}
    <br><br>

{% if allergyName %}
    <ul>
        {% for Allergy in Allergy_list %}
            {% if Allergy.highLevelAllergy == allergyName.allergyName %}
                {{ Allergy.allergyName }}<br>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>알러지가 없습니다.</p>
{% endif %}
</form>
</body>
</html>
