<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<div class="container">
  <button onClick="location.href='{% url 'foodAllergy:register' %}'">등록하기</button>
  <input type="button" value="도움말"/>
  <div class="row">
    <div class="col-sm-5">
        <br><br>
        <div>
            <img src="/static/images/{{filename}}" height="500">
        </div>
        <button>사진찍기</button>

        <form action="{% url 'foodAllergy:uploadfile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file">
                <input type="submit" value="등록">
        </form>
    </div>

    <div class="col-md-2">
      <form action="{% url 'foodAllergy:chImage' %}">
          {% csrf_token %}
          <input type="submit" value="변환하기" >
      </form>
    </div>

    <div class="col-md-5">
      <form class="form-inline" style="width:70%" action="{% url 'foodAllergy:resultSave' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="f_productName" id="f_productName">
        <textarea cols="65" rows="15" name="f_productContent" id="f_productContent">{{ text }}</textarea>

        <br>
        결과 :
        <textarea cols="65" rows="5" name="f_exist" id="f_exist">
          {% for exist in exist_allergy %}
            {{ exist }}
          {% endfor %}
        </textarea>
        포함되어 있습니다

        <br>
        <input type="submit" value="저장">
        <input type="button" value="불러오기" onClick="location.href='{% url 'foodAllergy:resultLoad' %}'">
      </form>
    </div>

  </div>
</div>


</body>
</html>
